body {
    font-family: "Poppins";
    background-color: rgb(15, 15, 10);
    color: #FDFDFD;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.navbar {
    position: fixed;
    display: inline-block;
    pointer-events: none;
    width: 100%;
    top: 0;
    height: 45px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
    z-index: 15;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 45px;
    cursor: pointer;
    pointer-events: all;
    border-color: #FDFDFD;
    border-width: 2px;
    border-style: solid;
}

#menuspan {
    display: block;
    width: 30px;
    height: 4px;
    background: #fdfdfd;
    margin: 4px;
}

a {
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
    color: #fdfdfd;
}

.navDiv {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease, top 0.5s ease;
    transition-delay: 0;
    width: 20%;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #fdfdfd;
}


.navbar:hover {
    background-color: rgb(15, 15, 10);
    pointer-events: all;
    opacity: 1;
}

.navDiv:hover {
    color: rgb(15, 15, 10);
    background-color: #ffff33;
}

.navbar:hover .navDiv {
    opacity: 1;
}







#container {
    margin: auto;
    padding: 1vw;
    margin-top: 10vh;
    display: block;
    align-items: center;
    justify-content: center;
}

.viewTitle {
    max-width: 96%;
}

.homeIntro {
    display: flex;
    justify-content: space-between;
    margin-bottom: -5vh;
}

.homeIntro h4 {
    font-style: italic;
    font-size: 2vw;

}

.homeTitle {
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: rgb(243, 241, 238);
    height: 16vh;
    display: flex;
    align-items: center;
    justify-content: end;
}

.homeTitle h1 {
    font-weight: 900;
    font-style: italic;
    font-size: 16vh;
}

.homeSideF1 {
    max-width: 100%;
    -webkit-filter: drop-shadow(0px 0px 15px rgb(15, 15, 10));
    margin-top: -5vw;
}

.homeSeason h2 {
    font-weight: 900;
    font-style: italic;
    font-size: 3vw;
}

.homeChampTitle {
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: rgb(243, 241, 238);
    border-width: 2px;
    display: flex;
    justify-content: space-between;
}

.homeChampTitle h3 {
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-style: italic;
    font-size: 2vw;
    width: fit-content;
}

.homeChampTitle span {
    border-width: 0;
    margin: 0;
    flex-grow: 1;
    height: 2vw;
    align-self: center;
    background: linear-gradient(to right, rgba(243, 241, 238, 0) 0%, rgba(243, 241, 238, 1) 100%);
}

.homeDriverChampTitle span {
    background: linear-gradient(to right, rgba(243, 241, 238, 1) 0%, rgba(243, 241, 238, 0) 100%);
}

.formDiv span {
    border-width: 0;
    margin: 0;
    flex-grow: 1;
    height: 2vw;
    align-self: center;
    background: linear-gradient(to right, rgba(243, 241, 238, 1) 0%, rgba(243, 241, 238, 0) 100%);
}

.driversIntro {
    display: flex;
    justify-content: space-between;
    margin-bottom: -5vh;
}

.driversIntro h4 {
    font-style: italic;
    font-size: 2vw;

}

.driversTitle {
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: rgb(243, 241, 238);
    height: 16vh;
    display: flex;
    align-items: center;
    justify-content: end;
}

.driversTitle h1 {
    font-weight: 900;
    font-style: italic;
    font-size: 16vh;
}

.driversTitleImage {
    max-width: 85%;
    -webkit-filter: drop-shadow(0px 0px 15px rgb(15, 15, 10));
    margin-top: -18vw;
}

#driverImage {
  object-fit: contain;
  width: 100%;
  position: relative;
}



.circuitsIntro {
    display: flex;
    justify-content: end;
    margin-bottom: -5vh;
}

.circuitsIntro h4 {
    font-style: italic;
    font-size: 2vw;
}

.circuitsTitle {
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: rgb(243, 241, 238);
    height: 16vh;
    display: flex;
    align-items: center;
    justify-content:baseline;
}

.circuitsTitle h1 {
    font-weight: 900;
    font-style: italic;
    font-size: 16vh;
}

.titleImageDiv{
    text-align: end;
}

.circuitsTitleImage {
    max-width: 75%;
    -webkit-filter: drop-shadow(0px 0px 15px rgb(15, 15, 10));
    margin-top: -28vw;
    margin-bottom: 4vh;
}

#circuitImage {
  object-fit: contain;
  width: 100%;
  position: relative;
}



.cardDiv {
    transition: background-color 0.3s ease;
    display: flex;
    border-radius: 15px;
    background-color: rgb(243, 241, 238);
    color: rgb(0, 0, 0);
    padding: 2%;
}

.cardDiv.cardImg {
    display: block;
}

h3 .cardDiv.seasonCard {
    display: block;
}

.cardDiv:hover {

    background-color: rgb(157, 157, 157);
}

.cardImg {
    padding: 15px;
    border-radius: 8px;
    width: 150px;
    height: 150px;
    margin-right: 50px;
    background-color: white;
}

.cardTextDiv {
    flex-grow: 1;
}

.card-title {
    color: black;
}

h1 {
    text-align: center;
}

.currentSeasonList {
    display: flex;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.currentSeasonList::-webkit-scrollbar {
    display: none;
    -webkit-overflow-scrolling: touch;
}

.homeSeasonCard {
    border-radius: 0px;
    color: rgb(243, 241, 238);
    background-color: rgb(15, 15, 10);
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: rgb(243, 241, 238);
    padding: 1vw;
    padding-left: 0;
    padding-right: 0;
    margin: 0.5vw;
    min-width: 18vw;
    position: relative;
}

.homeSeasonCard:hover {

    background-color: rgb(15, 15, 0);
    transition: background-color 0.3s ease;
}

.homeSeasonCard.cardImg {
    padding: 0px;
    margin-left: 0;
    border-radius: 0px;
    border-width: 0;
    max-width: 150px;
    background-color: rgb(15, 15, 10);
    object-fit: cover;
    min-width: 150px;
    object-position: top;
}

.homeSeasonCard.cardTextDiv {
    display: flex;
    border-style: none;
    padding: 0px;
    margin-right: 0px;
    flex-direction: column;
}

.homeSeasonCard.card-title {
    border-style: none;
    padding: 0px;
    margin: 0;
    min-width: fit-content;
    height: fit-content;
}

#card-titleDiv{
    margin: 0;
    justify-content: space-between;
    flex-direction: row;
}

#driverChampPositionGradient {
    border-width: 0;
    margin: 0;
    flex-grow: 1;
    height: 75px;
    align-self: center;
}

.homeSeasonCard.card-text {
    border-style: none;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}

.homeSeasonCard h3 {
    padding: 0;
    margin: 0px;
    font-size: 50px;
}

.lastNextWeekendDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.formDiv {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    padding: 0px;
    z-index: 10;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: rgb(243, 241, 238);
    background-color: rgb(15, 15, 10);
    height: 45px;
    align-items: center;
    margin-bottom: 5vh;
}

.filterForm {
    align-items: center;
    display: flex;
    height: 45px;
}

.filterForm input,
.filterForm label {
    text-decoration: none;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: none;
    border-right-style: none;
    color: rgb(255, 255, 255);
    background-color: rgb(15, 15, 10);
    height: 30px;
    text-align: left;
    font-size: 20px;
}

.filterForm label {
    text-decoration: none;
    border-style: none;
    color: rgb(243, 241, 238);
    background-color: rgb(15, 15, 10);
    height: 30px;
    text-align: left;
    font-size: 25px;
    font-weight: 700;
    align-items: center;
}

#filterByLabel {
    margin-right: 2vw;
}



.orderByForm {
    --font-color-dark: rgb(15, 15, 10);
    --font-color-light: rgb(243, 241, 238);
    --bg-color: rgb(109, 107, 105);
    --main-color: rgb(15, 15, 10);
    --secondary-color: rgb(141, 138, 133);
    position: relative;
    width: 20vw;
    height: 36px;
    background-color: var(--bg-color);
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    display: flex;
    flex-direction: row;
    align-items: center;

}

.orderByOption {
    margin-right: 5px;
    height: 28px;
    position: relative;
    top: 2px;
    transition: 0.25s cubic-bezier(0, 0, 0, 1);
    padding: 5px;
}

.orderByOption:last-child {
    margin-right: 4px;
}

.orderByOption:hover {
    background-color: var(--secondary-color);
}

.orderByOption:hover label {
    color: var(--font-color-light);
}

.input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    appearance: none;
    cursor: pointer;
}

.btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    color: var(--secondary-color);
}

.input:checked+.btn {
    background-color: var(--main-color);
    transition: 0.2s cubic-bezier(0, 0, 0, 1);
}

.input:checked+.btn label {
    color: var(--font-color-light);
    transition: 0.25s cubic-bezier(0, 0, 0, 1);
}

#orderByLabel {
    color: rgb(243, 241, 238);
    margin-right: 2vw;
    text-decoration: none;
    border-style: none;
    color: rgb(243, 241, 238);
    height: 30px;
    font-size: 25px;
    font-weight: 700;
    align-items: center;

}

.seasonList {
    display: inline;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(10vw, 30vw));
    gap: 10px;
    padding: 10px;
}

.seasonCard {
    border-radius: 0px;
    color: rgb(243, 241, 238);
    background-color: rgb(15, 15, 10);
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: rgb(243, 241, 238);
    padding: 5px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    position: relative;
    transition: background-color 0.3s ease;
}

.seasonImgDiv {
    display: flex;
    border-style: none;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
    justify-content: center;
    align-items: baseline;
    overflow: hidden;
    object-position: top;
}

.seasonCardImg {
    border-style: none;
    padding: 0px;
    border-radius: 0px;
    background-color: white;
    margin: 0px;
    width: 100px;
    height: 100px;
    object-position: top;
    transition: filter 0.3s ease;
}

.seasonCard.cardTextDiv {
    display: flex;
    flex-direction: column;
    border-style: none;
    padding: 0px;
    width: fit-content;
    transition: color 0.3s ease;
}

.seasonCard.cardTitle {
    border-style: none;
    padding: 0px;
    margin: 0;
    color: rgb(243, 241, 238);
    width: fit-content;
    transition: color 0.3s ease;
}

.seasonCard.cardText {
    border-style: none;
    padding: 0px;
    margin: 0;
    font-size: 18px;
    width: fit-content;
    transition: color 0.3s ease;
}

.driverList {
    display: grid;
    max-width: 100%;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(10vw, 30vw));
    gap: 25px;
    padding: 0px;
}

.driverCard {
    border-radius: 0px;
    color: rgb(243, 241, 238);
    background-color: rgb(15, 15, 10);
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: rgb(243, 241, 238);
    padding-left: 0px;
    margin: 0px;
    position: relative;
    transition: background-color 0.3s ease;
}

.driverImgDiv {
    display: flex;
    border-style: none;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: baseline;
    overflow: hidden;
    object-position: top;
}

.driverCardImg {
    border-style: none;
    padding: 0px;
    border-radius: 0px;
    object-fit: cover;
    background-color: white;
    margin: 0px;
    width: 100%;
    height: 100%;
    object-position: top;
    transition: filter 0.3s ease;
}

.driverCard.cardTextDiv {
    display: flex;
    flex-direction: column;
    border-style: none;
    padding: 0px;
    width: fit-content;
    transition: color 0.3s ease;
}

.driverCard.card-title {
    border-style: none;
    padding: 0px;
    margin: 0;
    color: rgb(243, 241, 238);
    width: fit-content;
    transition: color 0.3s ease;
}

.driverCard.card-text {
    border-style: none;
    padding: 0px;
    margin: 0;
    font-size: 18px;
    width: fit-content;
    transition: color 0.3s ease;
}

.driverCard:hover {
    background-color: rgb(243, 241, 238);
}

.driverCard:hover .card-title,
.driverCard:hover .card-text,
.driverCard:hover .cardTextDiv {
    color: rgb(15, 15, 10);
    background-color: rgb(243, 241, 238);
}

.driverCard:hover .driverCardImg {
    filter: brightness(1.05);
}


.circuitList {
    display: grid;
    max-width: 100%;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(10vw, 30vw));
    gap: 25px;
    padding: 0px;
}

.circuitCard {
    border-radius: 0px;
    color: rgb(243, 241, 238);
    background-color: rgb(15, 15, 10);
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: rgb(243, 241, 238);
    padding-left: 0px;
    margin: 0px;
    position: relative;
    transition: background-color 0.3s ease;
}

.circuitImgDiv {
    display: flex;
    border-style: none;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    width: 150px;
    min-width: 150px;
    height: 150px;
    justify-content: center;
    align-items: baseline;
    overflow: hidden;
}

.circuitCardImg {
    border-style: none;
    padding: 5px;
    border-radius: 0px;
    object-fit: contain;
    background-color: white;
    margin: 0px;
    width: 100%;
    height: 100%;
    transition: filter 0.3s ease;
}

.circuitCard.cardTextDiv {
    display: flex;
    flex-direction: column;
    border-style: none;
    padding: 0px;
    width: fit-content;
    transition: color 0.3s ease;
}

.circuitCard.card-title {
    border-style: none;
    padding: 0px;
    margin: 0;
    color: rgb(243, 241, 238);
    width: fit-content;
    transition: color 0.3s ease;
}

.circuitCard.card-text {
    border-style: none;
    padding: 0px;
    margin: 0;
    font-size: 18px;
    width: fit-content;
    transition: color 0.3s ease;
}

.circuitCard:hover {
    background-color: rgb(243, 241, 238);
}

.circuitCard:hover .card-title,
.circuitCard:hover .card-text,
.circuitCard:hover .cardTextDiv {
    color: rgb(15, 15, 10);
    background-color: rgb(243, 241, 238);
}

.circuitCard:hover .driverCardImg {
    filter: brightness(1.05);
}


.aboutIntro {
    display: flex;
    justify-content: space-between;
    margin-bottom: -5vh;
}

.aboutIntro h4 {
    font-style: italic;
    font-size: 2vw;
    margin-bottom: 5vh;
}

.aboutTitle {
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: rgb(243, 241, 238);
    height: 16vh;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 15vh;
}

.aboutTitle h1 {
    font-weight: 900;
    font-style: italic;
    font-size: 16vh;
}

.aboutText{
    font-size: 20px;
    font-weight: 500;
}

.aboutText a {
    font-size: 20px;
    font-weight: 700;
    font-style:normal;
    text-decoration: none;
}