body {
    font-family: "Poppins";
    background-color: black;
    color: aliceblue;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.navbar {
    position: fixed;
    display: inline-block;
    pointer-events: none;
    width: 100%;
    top: 0;
    height: 45px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
    z-index: 10;
}


.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 45px;
    cursor: pointer;
    pointer-events: all;
}

#menuspan {
    display: block;
    width: 30px;
    height: 4px;
    background: #fff;
    margin: 4px;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}

a {
    font-style: italic;
    font-weight: 700;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.navDiv {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    opacity: 0;
    transition: opacity 0.5s ease, top 0.5s ease;
    transition-delay: 0;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    width: 20%;
    margin-left: -1%;
    margin-right: -1%;
    text-align: center;
}

span {
    transition: color 0.5s ease;
}

.navbar:hover {
    background-color: black;
    pointer-events: all;
}

.navDiv:hover {
    color: black;
    background-color: yellow;
}

.navbar:hover .navDiv {
    opacity: 1;
}


.navDiv:nth-child(n+2) {
    transition-delay: 0s;
}

/* home */
.navDiv:nth-child(2) {
    transition-delay: 2s;
}

/* seasons*/
.navDiv:nth-child(5) {
    transition-delay: 2s;
}

/* about */
.navDiv:nth-child(6) {
    transition-delay: 2s;
}

/* home */
.navbar:hover .navDiv:nth-child(2) {
    transition-delay: 0.30s;
}

/* seasons*/
.navbar:hover .navDiv:nth-child(5) {
    transition-delay: 0.45s;
}

/* about */
.navbar:hover .navDiv:nth-child(6) {
    transition-delay: 0.5s;
}

.navbar:hover .navDiv:nth-child(7) {
    transition-delay: 0.55s;
}

.navbar:hover .navDiv:nth-child(8) {
    transition-delay: 0.6s;
}

.navbar:hover .navDiv:nth-child(9) {
    transition-delay: 0.65s;
}

.navbar:hover .navDiv:nth-child(10) {
    transition-delay: 0.7s;
}





#container {
    margin: auto;
    margin-top: 150px;
    display: block;
    align-items: center;
    justify-content: center;
}

.viewTitle{
    max-width: 96%;
}

.cardDiv {
    transition: background-color 0.3s ease;
    display: flex;
    border-radius: 15px;
    background-color: rgb(243, 241, 238);
    color: rgb(0, 0, 0);
    padding: 2%;
}

.cardDiv.seasonCard {
    max-width: 90%;
}

.cardDiv.cardImg{
    display: block;
}

h3 .cardDiv.seasonCard {
    display: block;
}

.cardDiv:hover {

    background-color: rgb(157, 157, 157);
}

.cardImg {
    padding: 15px;
    border-radius: 8px;
    width: 150px;
    height: 150px;
    margin-right: 50px;
    background-color: white;
}

.cardTextDiv {
    flex-grow: 1;
}

.card-title{
    color: black;
}